/* Dentro de MenuLink.module.css */
.active {
    text-decoration: underline; /* Isso cria a linha embaixo */
    color: black;
    font-weight: bold; /* Opcional: deixa em negrito para destacar mais */
}
/* 
.active:hover {
    text-decoration: none;
    color: black;
} */